$maize: #ffcb05;
$blue: #00274c;
$accent-blue: #2f65a7;
$sans-serif: "Montserrat", Arial, sans-serif;
$font-size: 1rem;
$line-height: 1.5rem;
$font-weight: 900;

$info: $maize;
$primary: $blue;
$secondary: $accent-blue;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

.App {
  font-family: $sans-serif;
  background-color:	#D3D3D3;
  color: $blue;
  font-weight: 900;
  /* background-color: $blue;
  color: $maize;
  scrollbar-highlight-color: $accent-blue; */
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
